/* Color reference

yellow-orange:    #ffbc00
dusty-rose:	      #ff9966
teal:             #0086B3
*/

/* Taken and modified from Andrew Childs */
body {margin: 16px; margin-top:16px; font-family: Times; background: #ffffe6;}

a {color: red; text-decoration: none;}
a[href]:hover {text-decoration: underline;}

h1 {font-size: 200%; margin: 0; background: #ffbc00; font-family: Spectral;}
h2 {font-size: 130%; margin: 0; margin-top: 1em; font-family: Spectral;}
h3 {font-size: 120%; margin: 0; margin-top: 1em; margin-bottom: 0em; font-family: Spectral;}

p {margin-top: 0.6em; margin-bottom: 0;}

ul {margin-top: .5em; margin-bottom: 1em;}
ul ul {margin-top: 0; margin-bottom: 0;}

.lighter {color: #666666;}
.lighter a:link {color: #6666cc;}
.lighter a:visited {color: #aa66aa;}
.lighter a:active {color: #cc6666;}

.contents {background-color:#F0F0F0;
           margin-top: 2em;
           margin-bottom: 2em;}
.contents h2 {margin-top: 0;}
.contents ul {margin-top: .5em; margin-bottom: 0;}

.clist li {margin-top: .75em;}

.slist {padding-top: .5em;}
.slist li {margin-top: .75em;}

.spaced td {padding-bottom: .1em;}

/* Papers */
.plist {padding:0; margin:0;}
.plist li {margin-top: .5em; list-style-type: none; list-style-position: inside; margin-left: 1em; padding: 5px}

.title {font-style: italic; color: #0086B3;}
.citations {padding:0; margin:0;}
.citations li {margin: 0; list-style-position: inside; list-style-type: disc; margin-left: 1em; text-indent:-.9em;}

.abstract {color:gray; margin-left:1em}

/* Other lists */
.smalllist {padding:0; margin:0;}
.smalllist li {margin-top: .5em; list-style-type: none; list-style-position: inside; margin-left: 1em;}

/* Misc */
.person {color: #0086B3;}

/* Box */
.box {
  width: 800px;
  align: center;
  margin: 16px auto;
  background-color: #ffffe6;
  padding: 20px;
}

.course {
  align: center;
  margin: 16px auto;
  background-color: #ffffe6;
  padding: 20px;
}

.centered {text-align: center;}

/* Atcat */
.list {
  padding:0; 
  margin:0;
}

.list li {
  margin-top: .5em; 
  list-style-type: none; 
  list-style-position: inside; 
  margin-left: 1em; 
  padding: 5px
}

details {
  font: inherit;
}

details > summary {
  padding: 0;
  border: none;
  cursor: pointer;
  outline: none;
}

table.sched    { 
  border: 1px solid black; 
  width: 75%
}
table.sched th { border: 1px solid black; padding: 5px }
table.sched td { border: 1px solid black; padding: 5px }
table.sched td:nth-child(1) { text-align: end; }

/*
details > summary::-webkit-details-marker {
  display: none;
}
*/
