/* Color reference

yellow-orange:		#ffbc00
dusty-rose:		#ff9966
*/

body {margin: 16px; margin-top:16px; font-family: Spectral, serif; background: #ffffe6;}

a {color: red; text-decoration: none;}
a[href]:hover {text-decoration: underline;}

h1 {font-size: 150%; margin: 0; background: #ffbc00;}
h2 {font-size: 100%; margin: 0; margin-top: 1em;}

p {margin-top: 0.6em; margin-bottom: 0;}

ul {margin-top: .5em; margin-bottom: 1em;}
ul ul {margin-top: 0; margin-bottom: 0;}

.lighter {color: #666666;}
.lighter a:link {color: #6666cc;}
.lighter a:visited {color: #aa66aa;}
.lighter a:active {color: #cc6666;}

.contents {background-color:#F0F0F0;
           margin-top: 2em;
           margin-bottom: 2em;}
.contents h2 {margin-top: 0;}
.contents ul {margin-top: .5em; margin-bottom: 0;}

.clist li {margin-top: .75em;}

.slist {padding-top: .5em;}
.slist li {margin-top: .75em;}

.spaced td {padding-bottom: .1em;}

/* Papers */
.plist {padding:0; margin:0;}
.plist li {margin-top: .5em; list-style-type: none; list-style-position: inside; margin-left: 1em;}

.title {font-style: italic; color: #606060;}
.citations {padding:0; margin:0;}
.citations li {margin: 0; list-style-position: inside; list-style-type: disc; margin-left: 1em; text-indent:-.9em;}

.abstract {color:gray; margin-left:2em}
